// 網站色系

// 主色系
$main-color : #f6a248;
// 輔色系
$sec-color: #2364a7;
// 警告色
$warning-color: #f6489c;
// 成功色
$success-color: #48f6a2;

// 背景色
$bg-color: #489cf6;
// 文字色
$font-color: #5599FF;
// 邊框色
$border-color: #f4f4f4;